* {
    margin: 10px;
    padding: 0;
    border: 0;
}

.custom-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.custom-input::Insert {
    opacity: 0,6;
}

.incomeExpense {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

section .income-container {
    margin: 10px;
    display: flex;
}

section button {
    font-size: 18px;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
}

section button:hover {
    background: #000;
    color: #fff;
}
section table {
    font-size: 18px;
    background-color: rgba(164, 164, 164, 0.5);
}